.avatarStyle {
  margin-left: 800px;
}

.settingiconStyle {
  margin-left: 30px;
}

.toolbarStyle {
  background-color: rgb(60, 91, 181);
}

.sidebarStyle {
  background-color: #3c5bb5;
  height: 100%;
}

.linkStyle {
  text-decoration-line: none;
  color: black;
}
.linkStyle:hover {
  color: rgb(50, 194, 6);
}
